
@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

<p>from home controllers index view file</p>

<ul>
    <li>
        <h3>Startup.cs</h3>
        <p>Where configurer what frameworks were used and how/when</p>
    </li>
</ul>
