
@{
    ViewBag.Title = "Car Listings";
}

<table>
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>