
@model List<Car>
@{
    ViewBag.Title = "Car Listings";
}

<a asp-action="Create">Create a car</a>

<table>
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Car item in Model)
        {
            <tr>
                <td>@item.Brand</td>
                <td>@item.ModelName</td>
            </tr>
        }

    </tbody>
</table>